{% extends "base.html" %}

{% block title %}Home - Forty{% endblock %}

{% block content %}
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Hey there! My Name's Erica.</h1>
            </header>
            <div class="content">
                <p>A builder through and through.I'm passionate about automation and creating tools.</p>
                <!--
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Data</a></li>
                </ul>
                -->
            </div>
            <ul>
                <li><a href= "https://www.linkedin.com/in/efilgueras/">LinkedIn</a></li>
                <li><a href= "https://github.com/efilguer">Github</a></li>
            </ul>
            
            <!--
            <form action= "upload" method="POST" enctype="multipart/form-data">
                <label for="box">Enter .fit File:</label>
                <input type="file" name="form_file" class="inner">
                <button type="submit" class="button next scrolly">CONVERT FILE</button>
            </form>
            -->
            
        </div>
    </section>

    <!-- Tiles, sections, etc. -->
    <div id="main">
        <section id="one" class="tiles">
            <!-- all your <article> cards here -->
        </section>
        <section id="two">
            <div class="inner">
                <header class="major"><h2>Connect with me!</h2></header>
                <p>miriamleper55@proton.me</p>
            </div>
        </section>
    </div>

    <!-- Contact -->
    <section id="contact">
        <!-- your contact form here -->
    </section>
{% endblock %}
